In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("E:/CSE587/Assignment1/data.csv", delimiter = ",")

In [3]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,-3.014000e-06,-0.000044,-0.000278,-6.710100e-06,-0.000015,-0.000113,0.010787,0.010831,0.011108,0.002458,...,-0.71593,1.6617,12.1770,-1.5040,-1.5041,-1.5044,-1.4984,-1.4985,-1.4984,5
1,-4.532700e-06,-0.000027,0.000115,2.347100e-07,-0.000022,-0.000318,0.025578,0.025605,0.025490,0.025175,...,-0.61186,2.1574,6.7002,-1.4944,-1.4944,-1.4940,-1.5048,-1.5048,-1.5049,8
2,-9.615600e-07,0.000002,-0.000006,4.854600e-06,0.000006,-0.000015,0.006317,0.006315,0.006321,-0.035309,...,-0.48252,6.0859,16.2140,-1.4998,-1.4998,-1.4998,-1.4975,-1.4975,-1.4975,9
3,1.856800e-06,-0.000013,-0.000139,-2.323100e-06,-0.000059,0.000184,0.008755,0.008768,0.008907,-0.041292,...,-0.69714,0.6127,5.6592,-1.5036,-1.5036,-1.5033,-1.4945,-1.4945,-1.4944,9
4,-1.833400e-06,0.000007,0.000011,-4.316300e-06,0.000001,0.000010,0.021416,0.021409,0.021399,-0.018570,...,-0.48441,4.3420,12.3630,-1.4993,-1.4993,-1.4993,-1.4978,-1.4978,-1.4978,6

In [4]:
y = df.iloc[:,-1]

In [5]:
type(y)

pandas.core.series.Series

In [6]:
y = y.to_numpy()

In [7]:
print(y)

[ 5  8  9 ...  8 11  9]

In [8]:
df = df.iloc[:,:-1]

In [9]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,-3.014000e-06,-0.000044,-0.000278,-6.710100e-06,-0.000015,-0.000113,0.010787,0.010831,0.011108,0.002458,...,4.4996,-0.71593,1.6617,12.1770,-1.5040,-1.5041,-1.5044,-1.4984,-1.4985,-1.4984
1,-4.532700e-06,-0.000027,0.000115,2.347100e-07,-0.000022,-0.000318,0.025578,0.025605,0.025490,0.025175,...,2.2081,-0.61186,2.1574,6.7002,-1.4944,-1.4944,-1.4940,-1.5048,-1.5048,-1.5049
2,-9.615600e-07,0.000002,-0.000006,4.854600e-06,0.000006,-0.000015,0.006317,0.006315,0.006321,-0.035309,...,3.8517,-0.48252,6.0859,16.2140,-1.4998,-1.4998,-1.4998,-1.4975,-1.4975,-1.4975
3,1.856800e-06,-0.000013,-0.000139,-2.323100e-06,-0.000059,0.000184,0.008755,0.008768,0.008907,-0.041292,...,4.8805,-0.69714,0.6127,5.6592,-1.5036,-1.5036,-1.5033,-1.4945,-1.4945,-1.4944
4,-1.833400e-06,0.000007,0.000011,-4.316300e-06,0.000001,0.000010,0.021416,0.021409,0.021399,-0.018570,...,7.7942,-0.48441,4.3420,12.3630,-1.4993,-1.4993,-1.4993,-1.4978,-1.4978,-1.4978

In [10]:
df_normalized = (df - df.min())/ (df.max() - df.min())

In [11]:
df_normalized.head(5)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0.596225,0.540284,0.615606,0.838338,0.717266,0.773620,0.710818,0.710995,0.712087,0.644000,...,0.031828,0.000151,0.012935,0.110421,0.320896,0.364686,0.358736,0.317241,0.344491,0.308625
1,0.596119,0.541987,0.657480,0.839107,0.714800,0.756745,0.784912,0.785015,0.784224,0.710168,...,0.013491,0.000240,0.015774,0.058570,0.464179,0.524752,0.552045,0.228966,0.256625,0.221024
2,0.596369,0.544879,0.644498,0.839618,0.724341,0.781678,0.688424,0.688369,0.688078,0.533995,...,0.026643,0.000351,0.038273,0.148641,0.383582,0.435644,0.444238,0.329655,0.358438,0.320755
3,0.596565,0.543414,0.630369,0.838824,0.702555,0.798007,0.700639,0.700660,0.701047,0.516568,...,0.034876,0.000167,0.006927,0.048715,0.326866,0.372937,0.379182,0.371034,0.400279,0.362534
4,0.596308,0.545396,0.646339,0.838603,0.722751,0.783740,0.764063,0.763992,0.763704,0.582751,...,0.058191,0.000350,0.028285,0.112182,0.391045,0.443894,0.453532,0.325517,0.354254,0.316712

In [12]:
# K_means Custering
# First we convert the dataframe to a corresponding numpy array for custering purposes
X = df_normalized.to_numpy()

In [13]:
X.shape

(40956, 48)

In [14]:

k = 12
cluster_centers = np.random.random((k, X.shape[1]))
cluster_centers.shape

(12, 48)

In [17]:
from scipy.spatial import distance
def create_empty_clusters(k):
    clusters = []
    for i in range(k):
        clusters.append([])

    return clusters

def assigning_clusters(X,cluster_centers):
    clusters  = create_empty_clusters(cluster_centers.shape[0])
    for i,rowx in enumerate(X):
        dist = []
        for j,rowc in enumerate(cluster_centers):
            dist.append(distance.euclidean(rowx, rowc))
        dist = np.asarray(dist)
        min_dist_index = np.argmin(dist)
        clusters[min_dist_index].append(rowx)
    clusters = np.asarray(clusters)
    return clusters

In [18]:
for epochs in range(1,100):
    clusters = assigning_clusters(X,cluster_centers)
    print(epochs)
    for i, row in enumerate(clusters):
        sum_elements = np.zeros(X.shape[1])
        for j in row:
            sum_elements = np.add(j, sum_elements)
        cluster_centers[i] = sum_elements * (1/sum_elements.shape[0])
#print(clusters)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99